<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vuelos BITS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    
    <!-- CSS Libraries -->
    <link rel="stylesheet" href="http://127.0.0.1:9000/Resources/CSS/toastr.min.css">
    <link rel="stylesheet" type="text/css" href="http://127.0.0.1:9000/Resources/css/style.css">
	
    <!--FontAwesome-->
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    
    <!--
    <link href="http://127.0.0.1:9000/Resources/css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="https://bootswatch.com/4/yeti/bootstrap.min.css">
    -->
</head>