* {
     box-sizing: border-box !important;
}

html {
  scroll-behavior: smooth;
}

body {
     color: #666666;
     font-size: 14px;
     font-family: poppins;
     line-height: 1.80857;
     font-weight: normal;
     overflow-x: hidden;
}

a {
     color: #1f1f1f;
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

ul,
li,
ol {
     margin: 0px;
     padding: 0px;
     list-style: none;
     color:#000;
}

a {
     color: #222222;
     text-decoration: none;
     outline: none !important;
}


img {
     max-width: 100%;
     height: auto;
}

 :focus {
     outline: 0;
}
.error{
    position: absolute;
    top: 0;
    padding: 10px 0 ;
    border-radius:  0 0 5px 5px;
    color: rgb(255, 0, 0);
    width: 100%;
    text-align: center;
    display: none;
}
.full {
     float: left;
     width: 100%;
}

.full {
     width: 100%;
     float: left;
     margin: 0;
     padding: 0;
}

#signOff:hover{
     text-decoration: #cfcece;
     cursor: pointer;
     border: solid #db0808 1px;
     background-color: rgb(231, 2, 2);
     
}

/*---------------------------- preloader area ----------------------------*/

.loader_bg {
     position: fixed;
     z-index: 9999999;
     background: #fff;
     width: 100%;
     height: 100%;
}

.loader {
     height: 100%;
     width: 100%;
     position: absolute;
     left: 0;
     top: 0;
     display: flex;
     justify-content: center;
     align-items: center;
}

.loader img {
     width: 280px;
}

/*------------------------------Header Area-----------------------*/
.header {
     background: url(../Images/header-bg.jpg);
     background-color: rgba(0, 0, 0, 0);
     background-repeat: repeat;
     background-size: auto;
     background-color: #00000052;
     box-shadow: #060606 0px 0px 3px 0px;
     z-index: 999;
     width: 100%;
     left: 0;
     top: 0;
     background-color: #00000052;
     padding: 0;
     padding-top: 0px;
     background-size: 100% 100%;
     background-repeat: no-repeat;
     min-height: 110px;
     padding-top: 50px;
}

.logo {
     float: left;
     position: relative;
     top: -22px;
}

nav.main-menu {
     float: right;
     margin-left: 0;
}
.menu-area-main li:hover a,
.menu-area-main li:focus a {
     color: #000;
}

.menu-area-main li.active a {
     color: #000;
}

.main-menu ul>li {
     display: inline-block;
     position: relative;
}

.main-menu ul>li a {
     line-height: 20px;
     font-size: 16px;
     display: block;
     font-weight: 500;
     color: #fff;
     padding: 15px 26px;
     padding-top: 24px;
}

.main-menu ul li:last-child a {
     padding-right: 0;
}
.sub-down li {
     background: #ffffff;
}

.main-menu ul>li>ul {
     opacity: 0;
     position: absolute;
     text-align: left;
     top: 100%;
     -webkit-transform: scaleY(0);
     transform: scaleY(0);
     -webkit-transform-origin: 0 0 0;
     transform-origin: 0 0 0;
     -webkit-transition: all 0.3s ease 0s;
     transition: all 0.3s ease 0s;
     visibility: hidden;
     width: 240px;
     z-index: 999;
     background: #fff;
     -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
     box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.main-menu>ul>li:hover>ul {
     -webkit-transform: scaleY(1);
     transform: scaleY(1);
     visibility: visible;
     opacity: 1;
}
.main-menu ul>li>ul>li {
     margin: 0px;
     position: relative;
     display: block;
}
.main-menu ul>li>ul>li:hover>ul {
     -webkit-transform: scaleY(1);
     transform: scaleY(1);
     visibility: visible;
     opacity: 1;
     left: 100%;
     top: 10px;
}
.main-menu ul>li>ul>li>a {
     background: none !important;
}

.header_information {
     background-color: #fff;
     padding: 0 0;
     padding-top: 0px;
     margin-top: 0;
     margin-right: 0;
     margin-bottom: 0;
     position: absolute;
     width: 100%;
     max-width: 900px;
     text-align: right;
     height: 50px;
     top: -50px;
     padding-top: 10px;
     right: 0;
}
.header_information::after {
     width: 41px;
     height: 50px;
     background: url(/Resources/Images/top_arrow.png);
     display: block;
     content: "";
     position: absolute;
     top: 0;
     left: -41px;
}
.header_information ul {
     display: inline-block;
}
.header_information ul li {
     align-items: center;
     display: inline-block;
     padding: 0px 10px;
     padding-right: 60px;
}
.header_information ul li img {
     padding-right: 10px;
}


/*               BANNER              */

.banner-main {
     position: relative;
 }
.banner-main .text-bg h1 {
     font-size: 90px;
     line-height: 108px;
     text-transform: uppercase;
     color: #f7e707;
     font-weight: bold;
     -webkit-text-stroke: 2px black;
     padding-bottom: 35px;
     padding-top: 25px;
}

.container {
    max-width: 1140px;
}
.text-bg {
     position: absolute;
     right: 0;
     top: 50%;
     transform: translateY(-50%);
     bottom: auto;
     padding: 0;
     left: 0;
     text-align: center;
}


 h1, h2, h3, h4, h5, h6 {
     letter-spacing: 0;
     font-weight: normal;
     position: relative;
     font-family: inherit;
     padding: 0 0 10px 0;
         padding-top: 0px;
         padding-bottom: 10px;
     font-weight: normal;
     line-height: normal;
     color: #111111;
     margin: 0;
 }
 .blue {
     color: #1976ab;
 }
 .red {
     color: #e60101;
 }
 b, strong {
     font-weight: bolder;
 }
 
 .button_section {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     padding-bottom:90px;
 }
 .text-bg {
     text-align: center;
 }
 .main_bt {
     background: #ee580f;
     color: #fff;
     padding: 15px 60px 15px 60px;
     float: left;
     font-size: 15px;
     font-weight: 400;
     border: solid #ee580f 2px;
     border-radius: 30px;
     margin: 15px 0px 60px 0px;
 }
 a, .btn {
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
 }
 .main-form {
     background: #ffffffe8;
     padding: 35px 35px;
 }
 .main-form2 {
     background: #ffffffe8;
     padding-left: 35px;
     padding-right: 35px;
     box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
 }
 
 .main-form h3 {
     float: left;
     margin-top: -82px;
     background: #fff;
     padding: 10px 28px;
     margin-left: -35px;
     color: #0a4668;
     font-size: 18px;
     font-weight: 600;
 }
 label {
     float: left;
     margin-bottom: 5px;
 }
 .form-control {
     border: #c2c4c4 solid 1px;
     padding: 7px 15px;
     border-radius: inherit;
     margin-bottom: 10px;
     color: #cfcece;
}
button, input {
     overflow: visible;
     margin: 0;
 }
 
 a, .btn {
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
 }
 .tm-down-arrow-link {
     color: white;
     background-color: #e6f702;
     border-radius: 50% ;
     padding: 10px 15px;
     margin-top: 0px;
     border: solid #000000 1px;
     display: inline-block;
 }
 a, button {
     transition: all 0.3s ease;
 }
 .fa-2x {
     font-size: 2em;
 }
 .fa {
     display: inline-block;
     font: normal normal normal 14px/1 FontAwesome;
         font-size: 14px;
     font-size: inherit;
     text-rendering: auto;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
     box-sizing: border-box;
     touch-action: manipulation;
     text-decoration: none;
     line-height: 1.5;
}
 .tm-down-arrow-link {
     color: white;
 }

 .jsmvKK {
     display: flex;
     flex-direction: column;
     flex: 1 1 0%;
     padding-left: 0px;
 }
 #flight-seleccion-wrapper:not(.expanded-search-box) .ctSumP {
     height: calc(-40rem + 100vh);
 }

 #Travels{
     padding-top: 12px;
     
     
     
 }
 #card{
     justify-content: center;
 }
 .ctSumP {
     display: flex;
     -moz-box-flex: 1;
     flex-grow: 1;
     position: relative;
     min-height: 73%;
 }

.jxbuIk {
     overflow: auto;
 }
 .jxbuIk {
     padding: 24px 80px;
 }
 .jxbuIk {
     padding: 16px 16px 0px;
     background-color: rgb(243, 242, 246);
 }

 /* width */
::-webkit-scrollbar {
     width: 10px;
   }
   
   /* Track */
   ::-webkit-scrollbar-track {
     background: #f1f1f1; 
   }
    
   /* Handle */
   ::-webkit-scrollbar-thumb {
     background: #888; 
   }
   
   /* Handle on hover */
   ::-webkit-scrollbar-thumb:hover {
     background: #555; 
   }

.itemTravel{
     font-size: 16px;

     margin-bottom: 16px;
     font-family: "Latam Sans", sans-serif;
     background-color: rgb(255, 255, 255);
     color: rgb(48, 48, 48);
     box-shadow: rgba(16, 0, 79, 0.12) 0px 2px 8px 0px;
     border-radius: 8px;

     margin: 0px;
     margin-bottom: 0px;
     padding: 0px;
     border: 0px none;
     margin-block: 0px;
     margin-inline: 0px;
     padding-block: 0px;
     padding-inline: 0px;
     list-style: outside none none;
     line-height: 1.15;

     box-sizing: border-box;
}


.adRED {
     min-width: 140px;
     padding: 6px 16px;
     margin-top: -12px;
     position: absolute;
     font-size: 14px;
     text-align: center;
     right: 0px;
     text-transform: uppercase;
     border-radius: 0px 0px 0px 20px;
     line-height: 1;
     color: rgb(255, 255, 255);
     background-color: rgb(212, 17, 17);
 }

 .adGREEN {
     min-width: 140px;
     padding: 6px 16px;
     margin-top: -12px;
     position: absolute;
     font-size: 14px;
     text-align: center;
     right: 0px;
     text-transform: uppercase;
     border-radius: 0px 0px 0px 20px;
     line-height: 1;
     color: rgb(255, 255, 255);
     background-color: rgb(7, 187, 31);
 }